  <%= form_for @group do |f| %>
    <% @group.errors.full_messages.each do |error| %>
    <p class="errors">* <%= error %></p>
    <% end %> 
    <%= f.label 'Name' %>
    <%= f.text_field :name %>
    <br/> <br/>
    <%= f.label 'Icon URL' %>
    <%= f.text_field :icon %>
    <br/> <br/>
    <%= f.submit "Create" %>
  <% end %>