<div class="allgroup-container">
<div class="group-header-container">
<%= link_to "Main", root_path, class: 'group-main-link'%>
<h1 class="group-header"><%=@group.name%></h2>
 <%= link_to 'Log out', logout_path, class: 'group-logout-link'%>
</div>
<%@medicines.each do |medicine|%>
<div class="allgroup-wrapper">
   <p class="medicine-name"><%=medicine.name%></p>
   <p class="medicine-amount"><%=medicine.amount%>mg</p>
   <p class="medicine-amount">on <%=medicine.created_at.to_date%></p>
</div>
<%end%>
<%= link_to "New Medicine", new_group_medicine_path(@group), class: 'new-group-link' %>

</div>