 <h1>REGISTER</h1>
  <%= form_with model: @user, local: true do |f| %>
    <% @user.errors.full_messages.each do |error| %>
      <p class="errors">* <%= error %></p>
    <% end %>
    <%= f.text_field :name, placeholder: 'Full name'%>
    <%= f.text_field :username, placeholder: 'Username'%>  
    <%= f.submit 'Sign up'%>
  <% end %> 
</div>